// @file
// Default styling of html elements.

*,
*:before,
*:after {
  // Box-sizing: border-box
  @include border-box;
}

a {
  background-color: transparent;
  color: $link-color;
  // Improves readability when focused.
  outline-offset: em(2px);

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

abbr {
  @include smallcaps();

  &[title] {
    border-bottom: 1px dotted;
  }

  &:hover {
    cursor: help;
  }
}


blockquote {
  margin: 0 $spacing $spacing;
}

body {
  background-color: $body-color;
  color: $primary-text-color;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

// Don't style button elements, since they're often styled as links for
// accessible widgets. Use the .button class in partials/components/buttons.
button {
  overflow: visible;
}

canvas {}

caption {}

cite {}

code {}

col {}

colgroup {}

datalist {}


em {}

embed {}

fieldset {}

figcaption {}

figure {
  margin: 0 0 $spacing;
}

footer {}


%hN {
  color: $heading-text-color;
  font-family: $header-font-family;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

h1 {
  @extend %hN;
  color: $darkerblue;
  font-family: $alt-font-family;
  font-size: em($font-size-xxl);
  margin: 0 0 $spacing;
}

h2 {
  @extend %hN;
  color: $darkblue;
  font-size: em($font-size-xl);
  margin: 0 0 $spacing;
}

h3 {
  @extend %hN;
  font-size: em($font-size-lg);
  margin: 0 0 $spacing;
}

h4 {
  @extend %hN;
  font-size: em($font-size-normal);
  margin: 0 0 $spacing;
}

h5 {
  @extend %hN;
  font-size: em($font-size-md);
  margin: 0 0 $spacing;
}

h6 {
  @extend %hN;
  font-size: em($font-size-sm);
  margin: 0 0 $spacing;
}

header {}

hr {
  @include box-sizing(content-box);
  border: 1px solid $form-border-color;
  height: 0;
  margin: $spacing-2x 0;
  padding-bottom: -1px;
}


i {}

iframe {}



// Don't style button, submit, or reset elements, since they're often styled as
// links for accessible widgets. Use the .button class in
// partials/components/buttons.
input {
  line-height: normal;
}

input[type="button"] {}
input[type="checkbox"] {}
input[type="color"] {}
input[type="date"] {}
input[type="datetime"] {}
input[type="datetime-local"] {}
input[type="email"] {}
input[type="file"] {}
input[type="image"] {}
input[type="month"] {}
input[type="number"] {}
input[type="password"] {}
input[type="radio"] {}
input[type="range"] {}
input[type="reset"] {}
input[type="search"] {}
input[type="submit"] {}
input[type="tel"] {}
input[type="text"] {}
input[type="time"] {}
input[type="url"] {}
input[type="week"] {}

ins {}

kbd {}

label {}


li {}



ol {
  margin: 0 0 rhythm(1);
  padding: 0 0 0 1.5em; // LTR

  [dir="rtl"] & {
    padding: 0 1.5em 0 0;
  }

  ol,
  ul {
    margin: 0;
  }
}
option {}

output {}

p {
  margin: 0 0 rhythm(1);
}


pre {
  margin: 0 0 rhythm(1);
  overflow: auto;
}







small {
}

strong {
  font-weight: bold;
}

sub {
  bottom: -0.25em;
}

summary {}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody {}

td {}

textarea {
  overflow: auto;
}

tfoot {}

th {}

thead {}

time {}

tr {}


ul {
  margin: 0 0 $spacing-2x;
  padding: 0 0 0 1.2em; // LTR

  [dir="rtl"] & {
    padding: 0 1.2em 0 0;
  }

  ol,
  ul {
    margin: 0;
  }
}
