// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_


// Color Palette
$aqua: #00a6b6;
$cobalt: #296b8b;
$smoke: #808080;
$softblack: #333333;
$gray: #444444;
$offwhite: #f3f3f3;
$deepblue: #164d69;

// Theme color Map
// $colorMap : (
//
// );

//Color Placement Vars
$primary-text-color: $softblack;
$ui-border-color: rgba($smoke, .25);
$secondary-text-color: #555;
$heading-text-color: $aqua;
$body-color: #fff;
$link-color: $aqua;
$link-hover-color: $aqua;
$selection-background: $aqua;
$selection-foreground: #fff;
$status-color: #4d8e4d;
$warning-color: #fcce00;
$error-color: #900;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);

// Buttons
$button-bg-color: $aqua;
$button-text-color: white;
