// @file
// Test section


.section {
  padding: 30px 0;

  img {
    border-radius: 50%;
  }
}

.section-odd {
  background: #999999;
}


@media screen and (max-width: 600px) {
  .section-odd {
    background: $orange !important;
  }
}
